body.modal-js {
    position: fixed;
    &:after{
        content: '';
        background-color: rgba(#000, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.modal {
    width: 500px;
    height: auto;
    max-height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: $secondary;
    padding: $large-space ($small-space * 3) $large-space $medium-space;
    color: #ffffff;
    z-index: 1000;
    @media #{$small-only}{
        width: 90%;
        left: 50%;
    }
    .fa-close {
        position: absolute;
        top: ($small-space * 2);
        right: ($small-space * 2);
        color: $primary;
        cursor: pointer;
    }
    &.active {
        display: inline-block;
    }
    .modalHold {
        height: 100%;
        max-height: 420px;
        overflow: hidden;
        overflow-y: auto;
        padding-bottom: $medium-space;
        p {
            font-size: rem-calc(14);
        }
    }
}
